#drummy
{
    position: relative;
    margin:0;
    width: 200px;
    height: 200px;
    display: right;
}

h1, h2
{
    font-family: 'Indie Flower', cursive;
}

header
{
    text-align: center;
    background-color: #07b307;
    border-radius: 25px;
}
body
{
    background-color: aqua;
}

#learn, #play
{
    Background-color:#ff00ff;
    border-radius: 30px;
    width: 80%;
    text-align: center;
}
#learn, #play
{
    text-align:center;
    padding: 10%;
    margin-bottom: 50px;
    font-family: 'Indie Flower', cursive;
    font-size: 60px;
    border: solid #07b307 2px;
}

a
{
    text-decoration: none;
    color: black;
}

#scale
{
    width: 90%;
    position: relative;
}

.wrapper 
{
  display: inline;
    margin: 10%;
    width: 90%;
}

.note
{
  border-radius: 5px;
  font-family: 'Roboto', cursive; 
  font-size: 150%;
    display: inline-flex;
    background-color: #ff00ff;
    padding: 30px;
    justify-content: space-between;
    
}