h1
{
    font-family: 'Indie Flower', cursive;
}

header
{
    text-align: center;
    background-color: #07b307;
    border-radius: 25px;
}
body
{
    background-color: #00ffff;
}

#learn, #play
{
    Background-color:#ff00ff;
    border-radius: 30px;
    width: 80%;
    text-align: center;
    padding: 10%;
    margin-bottom: 50px;
    font-family: 'Indie Flower', cursive;
    font-size: 60px;
    border: solid #07b307 2px;
}

a
{
    text-decoration: none;
    color: black;
}

#scale
{
    width: 90%;
    position: relative;
    margin-top:
}

.wrapper 
{
    display:grid;
    grid-template-columns: 30% 30% 30%;
    margin: 10%;
    margin-left: auto;
    width: 100%;
}

.note
{
    border-radius: 5px;
    font-family: 'Roboto', sans-serif; 
    font-size: 3em;
    background-color: #ff00ff;
    padding: 30px;
    margin: 2%; 
    text-align: center;
}

/*tablet Screen*/
@media (min-width: 650px)
{
    .wrapper 
    {
        grid-template-columns: 40% 40%;
        justify-content: space-between;
    }

}
@media (min-width: 800px)
{
    #wrap
{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
}
    .wrapper
    {
        display:inline-flex; 
    }
    .note
    {
        justify-content: space-between;
    }
}